@import "../../../styles/base";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    z-index: 5;

    margin-left: -420px;
    transition: none;
  }

  .open {
    margin-left: 0;
    transition: all 0.5s ease-in-out;
  }

  .close {
    margin-left: -420px;
    transition: all 0.5s ease-in-out;
  }
}
