@import "../../../styles/base";

[role="main"] {
  height: 100%;
  padding-top: 48px;
  padding-bottom: 30px;

  background: $white-color;
}

@media (min-width: 768px) {
  [role="main"] {
    min-height: calc(100vh - 54px) !important;
  }
}
